
.tournamentsForm {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 20px;
  align-items: center;
}
.tournament {
  cursor: pointer;
}

.tournamentsPageHeader{
  margin: 5px;
}
.currentTournamentHeader {
  color: blue;
  margin-top: 10px;
  
}
.tournamentLine {
  display: flex;

  width: 80%;
  padding: 5px;
  cursor: pointer;
}
.tournamentName {
  align-self: center;
  padding: 5px;
  font-size: 18px;
  margin-left: 20px;
}
.currentTournament {
  background-color: rgb(238, 237, 237);
}

