.pageWrapper {
  display: flex;
  margin: auto;
  width: 90%;
  height: 90vh;
  border: solid 1px black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.tournamentsForm {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 20px;
  align-items: center;
}
.tournament {
  cursor: pointer;
}

.tournamentsPageHeader{
  margin: 5px;
}
.currentTournamentHeader {
  color: blue;
  margin-top: 10px;
  
}
.currentTournament{
  
  color: brown;
}


