.resultsRowActions {
  display: flex;
  gap: 8px;
  margin-left: 12px;
}

.resultsRowActions .listIconButton {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
