.gamesForm {
  width: 50%;
  max-height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 20px;
  align-items: center;
  overflow: hidden;
}
.gamesFormHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.games__list {
  width: 90%;
  align-self: center;
  max-height: 60vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}
.games__list_wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.games__game_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.games__game_wrapper:nth-child(odd) {
  background-color: rgb(238, 237, 237);
}

.games__teams_wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.games__score_wrapper {
  width: 40px;
  text-align: center;
}
.games__team_name {
  margin: 3px;
}

.games__score {
  margin: 3px;
}
