.addUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color: whitesmoke;
  border: solid 1px black;
  border-radius: 20px;
  padding: 20px;
}