.usersPageWrapper {
  display: flex;
  margin: auto;
  width: 90%;
  height: 100vh;
  border: solid 1px black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.usersForm {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 20px;
  align-items: center;
  
}

