.editTeamPageWrapper {
  position: absolute;
  width: 400px;
  height: 400px;
  top: calc(50% - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: gray;
}

.closeCrossWrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}
.closeCross {
  padding: 5px 10px 0 0;
}
