#header {
  height: 10vh;
  color: black;
  display: none;
}
a {
  text-decoration: none;
}

.navigationMenu {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  align-content: center;
  justify-content: space-around;
  border: solid 1px black;
  border-radius: 20px;

  justify-self: center;
  border-bottom: none;
}
.headerLink {
  color: black;
  display: block;
}
.adminHeaderLink {
  display: none;
  color: black;
}
