.header {
  background-color: whitesmoke;
  
padding-bottom: 10px;
padding-bottom: 10px;
  height: 5vh;
  color: black;
}
a {
  text-decoration: none;
}

.navigationMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;

  align-content: flex-end;
  justify-content: space-around;
  border: solid 1px black;
  border-radius: 10px;
padding-top: 10px;
padding-bottom: 10px;
  justify-self: center;
  border-bottom: none;
}
.headerLink {
  color: black;
  display: block;
}
.adminHeaderLink {
  display: none;
  color: black;
}
