.usersOnTornamentPageWrapper {
  display: flex;
  margin: auto;
  width: 90%;
  height: 90vh;
  border: solid 1px black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.usersOnTornamentForm {
  width: 100%;
}

.userLine {
  cursor: pointer;
}

.userLine .deleteIcon {
  order: 2;
}
