.competitionsForm {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 20px;
  align-items: center;
  padding: 20px;
}
.competitionList {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.competitionLine {
  display: flex;

  width: 80%;
  padding: 5px;
  cursor: pointer;
}
.competitionName {
  align-self: center;
  padding: 5px;
  font-size: 18px;
  margin-left: 20px;
}
.iconsBlock {
  display: flex;
  justify-content: space-between;
  width: 10%;
  padding: 5px;
}
.editIcon,
.deleteIcon {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}
.currentCompetition {
  background-color: rgb(238, 237, 237);
}
