$body-bg-color: #f5f6f8;

$dark-blue: #112859;
$light-blue: #459edb;
$green: rgb(89, 147, 89);
$transparent-blue: #d9dde4;
$color-neutral: #d9dde4;

$table-header-height: 100px;

$input-border-radius: 1.125rem;
$button-border-radius: 1.125rem;

$input-border-color-error: #d00;
$input-padding-x: 1.5rem;
$input-padding-y-tall: 1rem;
$input-padding-y: 0.5rem;
$input-border-width: 1px;
$input-border-width-active: 2px;
$input-font-size: 1rem;
$input-color: #112859;
